/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    margin: 0;
    background-color: rgb(54, 52, 52);
    color: white;
    line-height: 150%;
}
.container{
    padding: 0 54px;
    max-width: 1400px;
    margin: 0 auto;
}
.h1{
    font-size: 40px;
    margin: 40px 0;
    font-weight: 800;
    line-height: 2;
    text-shadow: 2px 4px 6px black;
    font-family: 'Noto Sans JP', sans-serif;
}
.span{
    margin-bottom: 40px;
    clear: right;
}
.tagged{
    color: red;
    font-size: 20px;
    font-weight: 600;
}
.date{
    text-align: right;
    float: right;
    font-size: 20px;
    font-weight: 600;
}
p{
    margin-bottom: 25px;
}



